@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-size: calc(50vw - 223.5px) 100vh;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.card-front {
    position: relative;
    align-self: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 19%;
}

.front-input1, .front-input2, .front-input3 {
    position: absolute;
    left: 20px;
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    cursor: initial;
    border: none;
}

.front-input2, .front-input3 {
    color: hsl(270, 3%, 87%);
}

.front-input1:focus, .front-input2:focus, .front-input3:focus {
    outline: none;
    border: none;
}

.front-input1 {
    top: 50%;
    width: 90%;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
}

.front-input2 {
    bottom: 8%;
    width: 50%;
}

.front-input3 {
    bottom: 8%;
    width: 20%;
    left: initial;
    right: 20px;
}

.card-back {
    position: relative;
}

.card-back input {
    position: absolute;
    top: 39%;
    right: 10%;
    width: 10%;
    height: 13.5%;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: initial;
}

.card-back input:focus {
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    display: block;
}

label {
    text-transform: uppercase;
    width: 100%;
    font-size: 10px;
    letter-spacing: 2px;
}

input {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 7px;
    margin-top: 5px;
    padding: 10px;
    font-family: inherit;
    font-weight: 500;
}

input:focus {
    outline: none;
    border: 1px solid;
    border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1 1;
    border-radius: 7px;
}

.error {
    border: 1px solid hsl(0, 100%, 66%);
    border-radius: 7px;
}

.date-cvc {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.date-cvc > div {
    width: 50%;
}

.date {
    display: flex;
    gap: 10px;
}

.right p {
    color: hsl(0, 100%, 66%);
    font-size: 10px;
    margin-top: 5px;
    display: none;
}

button {
    width: 100%;
    height: 40px;
    font-family: inherit;
    color: white;
    background-color: hsl(278, 68%, 11%);
    border-radius: 7px;
    margin-top: 20px;
}

#form-2 {
    text-align: center;
    display: none;
}

h1 {
    font-weight: 500;
    margin: 20px auto 10px;
}

#form-2 p {
    display: block;
    color: hsl(279, 6%, 55%);
    font-size: 20px;
    margin-bottom: 30px;
}

@media (max-width: 1000px) {
    body {
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-image: url(./images/bg-main-mobile.png);
        background-size: 100vw 40vh;
    }

    .left {
        display: flex;
        flex-direction: row;
        height: 390px;
        width: auto;
        gap: 0px;
    }

    .card-front {
        position: absolute;
        z-index: 1;
        top: 180px;
        transform: translateX(-45px);
        max-width: 350px;
    }

    .card-back {
        position: absolute;
        top: 40px;
        transform: translateX(45px);
        max-width: 350px;
    }

    .front, .back {
        max-width: 100%;
    }
    
    #form-1 {
        width: 500px;
    }

    button {
        margin-bottom: 20px;
    }

}

@media (max-width: 560px) {
    .left {
        height: 90vw;
    }
    .card-front {
        margin-left: 65px;
    }

    .card-back {
        margin-right: 65px;
    }

    .front-input1 {
        font-size: 5vw;
    }
    #form-1 {
        width: 90%;
    }
}